/Halyard.suo
/Halyard.ncb
/aclocal.m4
/autom4te.cache
/configure
/config.log
/config.status
/depcomp
/install-sh
/missing
/.stgit-edit.txt
/doc
*~
*.vcproj.*.user
.DS_Store
Debug
Release
vc_msw
vc_mswd
.deps
Makefile
Makefile.in
a.out.dSYM
