*~
*.bak
compiled
debug
release
Debug
Release
*.vcproj.*.user
*.lib
*.exe
*.dll
*.pdb
*.ilk
*.map
*.suo
*.ncb
vc_msw
vc_mswd
libs/wxWidgets/lib/msw
libs/wxWidgets/lib/mswd
libs/wxWidgets/lib/vc_lib
libs/plt/lib
libs/quake2/ref_gl/Debug (wxWindows)
libs/quake2/ref_gl/Release (wxWindows)
libs/quake2/ref_soft/Release (wxWindows)
wx/src/resources.cpp
